    <!--<script src="/public/assets/jquery/jquery.min.js"></script>
    <script src="/public/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/public/assets/jquery-cookie/jquery.cookie.js"></script>
    <script src="/public/assets/artTemplate/template.js"></script>
    <script src="/public/assets/nprogress/nprogress.js"></script>
    <script src="/public/assets/echarts/echarts.min.js"></script>-->
    <!--<script src="/public/js/common.js"></script>-->

    <script src="/public/js/require.js"></script>
    <script>
        require.config({
            baseUrl: '/public',
            paths: {
                jquery: 'assets/jquery/jquery.min',
                cookie: 'assets/jquery-cookie/jquery.cookie',
                template: 'assets/artTemplate/template',
                nprogress: 'assets/nprogress/nprogress',
                bootstrap: 'assets/bootstrap/js/bootstrap.min',
                echarts: 'assets/echarts/echarts.min'
            }
        });
        // 所有页面都会加载此模块
        require(['src/common']);
    </script>