
    <script src="/public/js/require.js"></script>
    <script>
        require.config({
            baseUrl: '/public',
            paths: {
                jquery: 'assets/jquery/jquery.min',
                cookie: 'assets/jquery-cookie/jquery.cookie',
                template: 'assets/artTemplate/template',
                nprogress: 'assets/nprogress/nprogress',
                bootstrap: 'assets/bootstrap/js/bootstrap.min',
                echarts: 'assets/echarts/echarts.min'
            },
            shim: {
                bootstrap: {
                    deps: ['jquery']
                }
            }
        });
        // 所有页面都会加载此模块
        require(['src/common','bootstrap']);
    </script>